{% extends "blog/base.html" %}

{% block title %}Мой Блог{% endblock %}

{% block content %}
    <h1>Мой Блог</h1>
    {% if tag %}
        <h2>Сообщения помечены "{{ tag.name }}"</h2>
    {% endif %}
    {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h2>
        <p class="tags">
            Тэги:
            {% for tag in post.tag.all %}
                <a href="{% url "blog:post_list_by_tag" tag_slug %}">
                    {{ tag.name }}
                </a>
                {% if not forloop.last %},{% endif %}
            {% endfor %}
        </p>
        <p class="date">
        Опубликовал {{ post.publish }} {{ post.author }}
        </p>
        {# В теле поста применяются два шаблонных фильтра: truncatewords - усекает значение до указаного количества слов #}
        {#  linebreaks - конвертирует результат в разрывы строк в формате HTML#}
        {{ post.body|truncatewords:30|linebreaks }}
    {% endfor %}
    {% include 'paginator.html' with page=posts %}
{% endblock %}